<a href="https://colab.research.google.com/github/22200757/Fourmi-de-Langton/blob/main/01_prise_en_main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# TD 1: Environnement de programmation et premiers pas avec Python

---

## 1.Vérification de l'installation de l'environnement de programmation

Avant de débuter ce td, vous devez avoir suivi la procédure d'installation [INSTALL.md](https://github.com/uvsq-info/l1-python/blob/master/INSTALL.md) si vous utilisez votre ordinateur personnel. Et, que vous utilisiez votre ordinateur personnel ou bien un ordinateur du cartable numérique, vous avez testé toutes les étapes du [tutoriel de prise en main de l'environnement de programmation](https://github.com/uvsq-info/l1-python/blob/master/README.md) jusqu'à la partie **utilisation du projet dans un terminal**. Si un des tests ne marche pas, appelez un enseignant. Si vous ne réusissez pas à exécuter le code du notebook, et en attendant que l'on vienne vous aider, vous pouvez travailler en utilisant un [notebook en ligne](https://colab.research.google.com/notebooks/intro.ipynb). Le notebook en ligne est aussi une solution pour programmer depuis chez vous si vous n'avez pas installé l'environnement correctement. Mais la solution privilégiée reste d'installer l'environnement.

Tout au long du travail que vous ferez sur les notebooks, pensez à sauvegarder via la barre de menus *File* puis *Save* ou avec le raccourci clavier Ctrl+S. Lorsqu'un fichier est correctement sauvegardé, le rond blanc disposé à côté du nom du fichier en haut de VSCode disparait.
A la fin du td, mais également à la fin de chaque section du notebook, pensez à sauvegardez votre travail sur votre compte github.

Afin d'utiliser les cellules de ce notebook, en haut à droite de la fenêtre cliquer sur "Select Kernel" et choisir "Python 3.9.X XX-bit ('l1-python': conda)".

---
## 2.Utilisation du notebook Python

Dans un premier temps, nous allons voir comment utiliser le notebook. Le notebook permet d'écrire du code que l'on peut évaluer au fur et à mesure. Plus tard, nous programmerons dans un fichier texte, en utilisant l'éditeur VisualStudioCode (VSCode dans la suite) et l'environnement qu'il fournit pour écrire des programmes en Python.

Un notebook contient des *cellules* qui sont de deux sortes: il y a des cellules de texte écrites dans un langage de mise en forme de texte appelé *Markdown*, et les cellules de code que vous allez remplir. Les cellules de code sont sur fond gris et un triangle gris apparait sur la gauche de la cellule lorsque votre souris la survole.

1. Dans la cellule de code suivante, tapez `1 + 1` puis évaluez la cellule en cliquant sur le triangle gris situé à gauche de la cellule.

In [ ]:
1+1

2

2. Cliquez de nouveau sur cette cellule et appuyez sur les touches `SHIFT + ENTREE` du clavier.

**Note**: Cela évalue également la cellule de code. Remarquez le numéro qui s'affiche dans les crochets à gauche de la cellule de code : c'est *l'ordre d'évaluation* de la cellule.

3. Dans la cellule suivante, affectez le résultat de l'expression `1 + 1` à une variable notée `a`. Bien entendu, évaluez la cellule (on ne le rappellera pas systématiquement).

In [ ]:
a = 2

4. Remarquez que l'évaluation de cette cellule ne génère aucun *texte  en sortie*. Pour connaître la valeur de la variable `a`, tapez le nom de la variable dans la cellule suivante.

In [ ]:
a

2

5. Testez maintenant l'expression `print(a)`.

In [ ]:
print(a)

2

Le résultat est identique. La première méthode fonctionne dans le notebook, mais pas dans un programme Python. C'est pourquoi il vaut mieux utiliser la deuxième méthode qui repose sur l'utilisation de la *fonction native* `print()`. L'ensemble de ces fonctions est [disponible ici](https://docs.python.org/fr/3.5/library/functions.html).

6. Augmentez de 1 la valeur de `a`. L'expression doit donner le bon résultat quelle que soit la valeur de la variable.

In [ ]:
a += 1

Et vérifiez en affichant la valeur de `a`.

In [ ]:
print(a)

3

7. Ré-évaluez toutes les cellules où vous avez affiché la valeur de `a`. Que remarquez-vous? On voit ici que ce qui compte dans le notebook est *l'ordre d'évaluation* et non pas *l'ordre d'apparition* des cellules. Ce comportement est source d'erreur, il faut donc bien y faire attention.

8. Sans écrire de code supplémentaire, augmentez encore de 1 la valeur de `a`, et vérifiez que ça a bien fonctionné.

**Note**: les 5 questions suivantes sont relatives à l'usage du notebook dans VSCode. Si vous travaillez avec un autre type de notebook, il est possible que vous n'ayez pas accès à toutes ces fonctionnalités.

9. Parmi les icônes situés en haut du notebook, cliquez sur `Clear Outputs` puis ré-évaluez la variable `a`.

10. Parmi les icônes situés en haut du notebook, cliquez sur `Variables` et regardez le résultat. Cet outil est très utile pour comprendre les erreurs liées à l'ordre d'évaluation des cellules.

11. Parmi les icônes situés en haut du notebook, cliquez sur `Restart` et regardez le résultat dans l'affichage des variables. Ré-évaluez la variable `a`. Que se passe-t'il ?

12. Enfin, sauvegardez votre travail.

13. Dans la cellule suivante, affectez la valeur 5 à la variable `a` et la valeur 2 à la variable `b`, puis afficher les 2 valeurs avec l'expression `print(a, b)`.

In [ ]:
a = 5
b = 2
print(a,b)

5 2

15. Ecrivez le code qui permet d'échanger la valeur des variables `a` et `b`. Puis affichez leurs valeurs.

In [ ]:
(a, b) = (5, 2)
(a, b) = (b, a)
print(a, b)

2 5

16. Pour enrichir l'affichage, recopiez l'expression `print("a vaut", a, "et b vaut", b)`.

In [ ]:
print("a vaut",a,"et b vaut",b)

a vaut 5 et b vaut 2

17.  Recopiez l'affectation suivante `a = "hello world"`, puis affichez la valeur de `a`.

In [ ]:
a = "hello world"
print(a)

hello world

### **Note**: la variable `a` contenait un entier, et maintenant une chaîne de caractères. En Python les variables ont un *type dynamique* *terme important a pas oublié*contrairement au type statique où le type des variables est défini une fois pour toutes. De plus ce typage est *implicite*, c'est-à-dire qu'il est déterminé par les objets auxquels les variables font référence sans avoir besoin de l'écrire explicitement.

18. Afficher de nouveau la valeur de `a` sans utiliser la fonction `print`. Que constatez-vous?

19. Avant de passer à la suite, sauvegardez votre notebook, et sauvegardez le sur github.


-------------------
## 3.Types de données
En Python, toute variable ou expression possède un *type* qui définit, entre autres, les opérations que l'on peut lui  appliquer. Parmi les types natifs on peut citer les nombres entiers, les nombres flottants, les chaînes de caractères (string en anglais) et les booléens (Vrai ou Faux).


1. Prédisez le type de chacune des expressions suivantes. Vérifiez le à l'aide de la fonction `type()`:

* `5`
* `5.0`
* `"5"`
* `-5`
* `5 / 2`
* `5 // 2`
* ` 5 == 2  `
* `5 = 2`

In [ ]:
print(type (5))
print(type(5.0))
print(type("5"))
print(type(-5))
print(type(5 / 2))
print(type(5 // 2))
print(type(5 == 2))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'int'>
<class 'bool'>

Ce sont les types de base du langage Python que nous allons étudier dans la suite. Notez que les nombres flottants s'écrivent avec un point et non avec une virgule.

2. Faites la même chose avec les expressions suivantes:

* `(5, 2)`
* `[5, 2]`
* `{5, 2}`

In [2]:
print(type((5.2)))

<class 'float'>

Ce sont des types avancés, qui permettent de construire des structures de données plus complexes, que nous apprendrons à manipuler plus tard. Pouvez-vous trouver une expression ayant un autre type?  Vous pouvez consulter la [documentation Python sur les types](https://docs.python.org/fr/3/library/stdtypes.html).

3. Maintenant, affectez une valeur à une variable `x`, et écrivez le code qui affiche, par exemple, `le type de x est <class 'int'>` si jamais la valeur stockée dans `x` est un entier.

In [ ]:
x = 5
x = type(int)
print (int)

<class 'int'>


### 3.1 Type numérique entier

1. Affectez une valeur entière à une variable `v`.

In [ ]:
v = 7

2. Ecrivez le résultat de la division entière de `v` par 11. Par exemple, si `v` vaut 149, le résultat affiché doit être de la forme:

`149 = 13 x 11 + 6`

In [ ]:
print(149,"=",v//11,"x",11,"+",v%11)

149 = 13 x 11 + 6

3. Prédisez le résultat des expressions suivantes, puis évaluer le code:
* `3 * (10 / 3)`
* `3 * (10 // 3)`
* `(3 * 10) // 3`

In [ ]:
a = 3*(10 / 3)
print(a)
b = 3*(10 // 3)
print (b)
c = (3 * 10 ) // 3
print(c)

10.0
9
10

5. Le résultat change-t'il si on retire les parenthèses des expressions précédentes?


6. Affectez un nombre entier à une variable, puis écrivez une expression qui affiche `True` si la variable est paire et `False` sinon.

In [ ]:
x = 20
if x % 2 == 0:
  print("true")
else:
  print("false")

true

7. L'opérateur puissance s'écrit `**`. Par exemple, 2 à la puissance 10 s'écrit `2 ** 10`. Affichez la valeur de 2 puissance 256. Combien de chiffres a ce nombre (en évitant de compter sur l'écran)?

In [ ]:
print(2**256)

115792089237316195423570985008687907853269984665640564039457584007913129639936

**Note**:  les nombres entiers ont une précision arbitraire.

Ecrire l'expression qui donne le dernier chiffre du nombre référencé par la variable `a`.

In [4]:
a = 2**256
print(a%10)

6

Ecrire l'expression qui donne l'avant-dernier chiffre du nombre référencé par la variable `a`.

In [30]:
a = 2**256
b = (a%100)
print(b // 10)

3


### 3.2 Nombres flottants

1. L'expression `0.2 + 0.4` est-elle égale, supérieure ou inférieure à `0.6`?

In [9]:
a = 0.2 + 0.4
res =(a <= 0.6) or (a > 0.6)
print(res)

True

2. Affectez la valeur 0.5 à une variable `x`. Multipliez `x` par $2^{30}$ puis convertissez le résultat obtenu en valeur entière (utilisez la fonction `int()`) puis divisez le résultat par $2^{30}$ (faire une division flottante).

In [10]:
x = 0.5
print(int(x*2**30))

536870912

3. Remplacez la valeur de `x` par 0.1 et refaites le calcul.

4. Pouvez-vous trouver d'autres valeurs de `x` pour lesquelles l'expression calculée redonne la valeur de `x`?

**Note**: les nombres flottants que l'on manipule sont en fait une approximation de ces nombres. Pour plus de détails, vous pouvez consulter [cet article](https://docs.python.org/fr/3.8/tutorial/floatingpoint.html).

### 3.3 Chaînes de caractères

1. Dans la cellule de code suivante, affichez le résultat de l'expression `a + b`, et de `b + a`

In [ ]:
a = "hello"
b = 'world'

**Notes**: les chaînes de caractères peuvent s'écrire avec des guillemets simples ou doubles (d'autres formes existent). L'opération d'addition de chaînes est appelée *concaténation*.

2. Dans la cellule précédente, ajoutez un espace entre `hello` et `world` sans modifier les variables.

3. Avant d'afficher le résultat, prédire ce que valent `a * 3` et `(a + b) * 2`?

4. On peut appliquer des *méthodes* (ce sont des fonctions qui s'appliquent à un certain type d'objets) à une chaîne de caractères. Par exemple tester ce que vaut `a.upper()`.

Vous pouvez voir la liste des méthodes associées aux chaînes de caractères (ainsi que sur les autres types natifs) sur [cette page](https://docs.python.org/fr/3/library/stdtypes.html#string-methods).

5. La variable `a` a-t'elle été modifiée?

6. Que vaut `a > b`?

7. Quelle est la signification de cette comparaison?

### 3.4 Conversions

1. Dans la cellule de code suivante, devinez ce que vaut `a * 2` avant de l'afficher.

In [ ]:
a = "32"

2. Utilisez la fonction de conversion `int()` pour obtenir le résultat de la multiplication de nombres entiers (64 ici).

3. Ecrivez l'expression `s = input("Tape quelquechose au clavier")` puis affichez `s`. Que se passe-t'il?

4. Recopiez le code de la cellule précédente. L'utilisateur doit saisir un nombre entier puis vous affichez ce nombre multiplié par 2.

5. ́Ecrivez le code qui demande son âge à l’utilisateur et répond en utilisant sa réponse au milieu d’une phrase, comme par exemple en lui donnant l’âge qu’il aura en 2031 le même jour.

6. Avant de passer à la suite, sauvegardez votre notebook sur github.

---
## Exercices supplémentaires

1. Parmi les chaînes de caractères suivantes, lesquelles peuvent être des noms de variable?
* `f`
* `l`
* `f2`
* `2f`
* `totolehero`
* `toto_le_hero`
* `import`
* `toto2-le-retour`

Et parmi les noms corrects, lesquels ne sont pas recommandés (voir la [PEP8](https://www.python.org/dev/peps/pep-0008/#naming-conventions))?

2. Demandez à l'utilisateur de rentrer un nombre, puis afficher sa racine carrée en faisant une phrase.

3. Ecrivez le code qui affiche:
* la chaı̂ne ”aaaaaa...” (250 ”a”)
* la chaı̂ne ”bbbb....a” (250 ”b” suivis d’un ”a”)
* la chaı̂ne ”bbbb....aaabbb...” (250 ”b” suivis d’un ”a” suivi de 100 b)
* 50 fois ”bonjour” en allant à la ligne à chaque fois (utilisez ”\n”)